
.navigation {
	background-color: rgba(255,255,255, 0.8);
	height: 80px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0px 50px;
	box-sizing: border-box;
	z-index: 0;
	/* animation magic */
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
}

.shrink {
	height: 50px;
}

.navigation .logo a {
	position: relative;
	color: rgb(8, 42, 138);
	font-size: 30px;
	font-family: "billabong", sans-serif;
	text-decoration: none;
}

.navigation a {
	color: rgb(8, 42, 138);
}

@media only screen and (min-width: 320px) and (max-width: 650px) {

	/* Navigation */
	.navigation {
		padding: 0 20px;
		justify-content: space-between;
	}

}




/* Official and not clone */